<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a27253da47.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/base.css">
    <title>Home</title>
</head>

<body>

    <center>
        <nav class="barra">
            <h2 class="text-barra">Montana E-commerce</h2>
            <a class="fa-solid fa-right-from-bracket fa-xl" style="left: 4%; top:50%; position: absolute; text-decoration: none;"
                href="/logout"> Logout</a>
            <a style="left: 80%; position:absolute; text-decoration:none; top:40%;" class="fa-solid fa-location-dot fa-lg" href="/meus-enderecos"> My Address</a><br><br>
            <a style="left: 80%; position:absolute; text-decoration:none; top:70%;" class="fa-solid fa-map-location-dot fa-lg" href="/cadastrar-endereco"> Add Address</a>
        </nav>


        <div>
            <h4 style="left: 2%; top: 150px; position:absolute; padding: 30px;">Usuário {{username.0.1}} logado!</h4>
            <br>
        </div>


        <div>
            <h6>Produtos</h6>
        </div>
</body>

</html>